powerapps-solution/src/Workflows/Petra_DispatchAlgorithmus.json
{
  "name": "Petra_DispatchAlgorithmus",
  "properties": {
    "connectionReferences": {},
    "displayName": "Petra – Dispatch-Algorithmus",
    "description": "Berechnet das optimale Taxi. Inputs: pickupZone (string), passengers (integer), taxis (string/JSON).",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerApps"
        }
      },
      "actions": {
        "Zone_Index_Map": {
          "runAfter": {},
          "type": "Compose",
          "inputs": {
            "E": 0,
            "F": 1,
            "H": 2,
            "I": 3,
            "A": 4,
            "B": 5,
            "C": 6,
            "D": 7,
            "T": 8,
            "G": 9,
            "P": 10,
            "W": 11
          }
        },
        "Pickup_Zone": {
          "runAfter": {
            "Zone_Index_Map": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@triggerBody()?['pickupZone']"
        },
        "Pickup_Index": {
          "runAfter": {
            "Pickup_Zone": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@outputs('Zone_Index_Map')[outputs('Pickup_Zone')]"
        },
        "Passengers": {
          "runAfter": {
            "Pickup_Index": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@int(triggerBody()?['passengers'])"
        },
        "Taxis_JSON": {
          "runAfter": {
            "Passengers": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@if(equals(triggerBody()?['taxis'], null), '[]', triggerBody()?['taxis'])"
        },
        "Ergebnis": {
          "runAfter": {
            "Taxis_JSON": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApps",
          "inputs": {
            "statusCode": 200,
            "body": {
              "pickup_zone": "@outputs('Pickup_Zone')",
              "pickup_index": "@outputs('Pickup_Index')",
              "passengers": "@outputs('Passengers')",
              "taxis_input": "@outputs('Taxis_JSON')",
              "zone_map": "@outputs('Zone_Index_Map')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "pickup_zone": {
                  "type": "string"
                },
                "pickup_index": {
                  "type": "integer"
                },
                "passengers": {
                  "type": "integer"
                },
                "taxis_input": {
                  "type": "string"
                },
                "zone_map": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    }
  }
}