powerapps-solution/src/Workflows/Petra_ETABerechnung.json
{
  "name": "Petra_ETABerechnung",
  "properties": {
    "connectionReferences": {},
    "displayName": "Petra – ETA-Berechnung",
    "description": "Berechnet die geschätzte Fahrtzeit zwischen zwei Zonen. F↔E: 50 km/h, alle anderen: 30 km/h.",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerApps",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "vonZone": {
                  "type": "string",
                  "description": "Startzone"
                },
                "nachZone": {
                  "type": "string",
                  "description": "Zielzone"
                }
              },
              "required": [
                "vonZone",
                "nachZone"
              ]
            }
          }
        }
      },
      "actions": {
        "Zone_Index_Map": {
          "runAfter": {},
          "type": "Compose",
          "description": "Platzkette-Indizes",
          "inputs": {
            "E": 0,
            "F": 1,
            "H": 2,
            "I": 3,
            "A": 4,
            "B": 5,
            "C": 6,
            "D": 7,
            "T": 8,
            "G": 9,
            "P": 10,
            "W": 11
          }
        },
        "Von_Index": {
          "runAfter": {
            "Zone_Index_Map": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@outputs('Zone_Index_Map')[triggerBody()?['vonZone']]"
        },
        "Nach_Index": {
          "runAfter": {
            "Von_Index": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@outputs('Zone_Index_Map')[triggerBody()?['nachZone']]"
        },
        "Schritte": {
          "runAfter": {
            "Nach_Index": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@abs(sub(int(outputs('Von_Index')), int(outputs('Nach_Index'))))"
        },
        "Distanz_km": {
          "runAfter": {
            "Schritte": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "description": "Ca. 0.8 km pro Platzketten-Schritt",
          "inputs": "@mul(outputs('Schritte'), float(0.8))"
        },
        "Ist_FE_Strecke": {
          "runAfter": {
            "Distanz_km": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "description": "F↔E ist Schnellfahrstrecke (50 km/h)",
          "inputs": "@or(and(equals(triggerBody()?['vonZone'],'F'),equals(triggerBody()?['nachZone'],'E')),and(equals(triggerBody()?['vonZone'],'E'),equals(triggerBody()?['nachZone'],'F')))"
        },
        "Geschwindigkeit_kmh": {
          "runAfter": {
            "Ist_FE_Strecke": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@if(outputs('Ist_FE_Strecke'), 50, 30)"
        },
        "ETA_Minuten": {
          "runAfter": {
            "Geschwindigkeit_kmh": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@div(mul(outputs('Distanz_km'), 60), outputs('Geschwindigkeit_kmh'))"
        },
        "Ergebnis": {
          "runAfter": {
            "ETA_Minuten": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApps",
          "inputs": {
            "statusCode": 200,
            "body": {
              "eta_minuten": "@outputs('ETA_Minuten')",
              "distanz_km": "@outputs('Distanz_km')",
              "geschwindigkeit_kmh": "@outputs('Geschwindigkeit_kmh')",
              "von_zone": "@triggerBody()?['vonZone']",
              "nach_zone": "@triggerBody()?['nachZone']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "eta_minuten": {
                  "type": "number"
                },
                "distanz_km": {
                  "type": "number"
                },
                "geschwindigkeit_kmh": {
                  "type": "integer"
                },
                "von_zone": {
                  "type": "string"
                },
                "nach_zone": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    }
  }
}