powerapps-solution/src/Workflows/Petra_DispatchAlgorithmus.json
{
  "name": "Petra_DispatchAlgorithmus",
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "displayName": "Petra – Dispatch-Algorithmus",
    "description": "Sucht das optimale Taxi anhand der Platzkette E–W. Liest Taxis-Liste aus SharePoint.",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerApps",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "pickupZone": {
                  "type": "string",
                  "description": "Abholzone (z.B. 'E', 'A', 'W')"
                },
                "passengers": {
                  "type": "integer",
                  "description": "Anzahl Personen"
                }
              },
              "required": [
                "pickupZone",
                "passengers"
              ]
            }
          }
        }
      },
      "actions": {
        "SharePoint_Site_URL": {
          "runAfter": {},
          "type": "Compose",
          "description": "⚠ BITTE ANPASSEN: URL deiner SharePoint-Site, z.B. https://firma.sharepoint.com/sites/taxi",
          "inputs": "https://FIRMA.sharepoint.com/sites/DEINE_SITE"
        },
        "Zone_Index_Map": {
          "runAfter": {
            "SharePoint_Site_URL": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "description": "Platzkette: E=0 (airside) bis W=11 (landside)",
          "inputs": {
            "E": 0,
            "F": 1,
            "H": 2,
            "I": 3,
            "A": 4,
            "B": 5,
            "C": 6,
            "D": 7,
            "T": 8,
            "G": 9,
            "P": 10,
            "W": 11
          }
        },
        "Aktive_Taxis_laden": {
          "runAfter": {
            "Zone_Index_Map": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "method": "GET",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(outputs('SharePoint_Site_URL')))}/tables/@{encodeURIComponent(encodeURIComponent('Taxis'))}/items",
            "queries": {
              "$filter": "Active eq 1",
              "$top": 50
            }
          }
        },
        "Taxis_mit_Score": {
          "runAfter": {
            "Aktive_Taxis_laden": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "description": "Berechnet Score (Distanz zur Abholzone) für jedes Taxi",
          "inputs": {
            "from": "@body('Aktive_Taxis_laden')?['value']",
            "select": {
              "id": "@item()?['ID']",
              "name": "@item()?['Title']",
              "position": "@item()?['Position']",
              "capacity": "@item()?['Capacity']",
              "occupied": "@item()?['Occupied']",
              "freie_plaetze": "@sub(item()?['Capacity'], item()?['Occupied'])",
              "score": "@abs(sub(outputs('Zone_Index_Map')[item()?['Position']], outputs('Zone_Index_Map')[triggerBody()?['pickupZone']]))"
            }
          }
        },
        "Freie_Taxis_filtern": {
          "runAfter": {
            "Taxis_mit_Score": [
              "Succeeded"
            ]
          },
          "type": "Query",
          "description": "Nur Taxis mit genügend freien Plätzen",
          "inputs": {
            "from": "@body('Taxis_mit_Score')",
            "where": "@greaterOrEquals(item()?['freie_plaetze'], triggerBody()?['passengers'])"
          }
        },
        "Ergebnis": {
          "runAfter": {
            "Freie_Taxis_filtern": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "PowerApps",
          "inputs": {
            "statusCode": 200,
            "body": {
              "taxis": "@body('Freie_Taxis_filtern')",
              "pickup_zone": "@triggerBody()?['pickupZone']",
              "anzahl_gefunden": "@length(body('Freie_Taxis_filtern'))"
            },
            "schema": {
              "type": "object",
              "properties": {
                "taxis": {
                  "type": "array"
                },
                "pickup_zone": {
                  "type": "string"
                },
                "anzahl_gefunden": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    }
  }
}